
.header {
  width: 100%;
  max-width: 880px;
  margin: 45px auto 0;
  padding: 0 20px;
  box-sizing: border-box;
}
.header__logo { width: 173px; display: block; }


.footer {
  width: 100%;
  max-width: 880px;
  margin: 67px auto 60px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(84, 84, 84, 1);
}
