.footer {
  max-width: 880px;
  width: 100%;
  display: flex;
  padding: 35px 0 60px;
  margin: 0 auto;
  color: navy;
}

.footer__copyright {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  font-weight: 990;
  margin: 0;
  color: navy;
} 

.footer__copyright span {
  color: inherit;
}

@media screen and (max-width: 934px) {
  .footer {
    max-width: 836px;
  }
}
